@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply font-display text-slate-800 dark:text-slate-200 min-h-screen flex flex-col bg-background-light dark:bg-background-dark antialiased;
}
